.spinner {
  animation: spin infinite 3s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  padding: 5px;
  height: 425px;
  width: 325px;
  margin: 10px;

  font-size: 12px;

  box-shadow: 0 0 3px 0 #f2f2f2;
}

.product > :first-child {
  padding: 5px;
  box-shadow: inset 0 0 3px 0 #f2f2f2;
}
